.create {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
h3 {
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem 3rem;
}
p {
    font-size: 1.2rem;
}
.form {
    display: grid;
    gap: 1rem;
}
.form .row {
    display: grid;
    gap: 3rem;
    padding: 1rem 3rem;
}
.rowLog {
    display: grid;
    gap: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
}
.form input {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.6rem;
}
.description {
    font-size: 1.3rem;
    text-align: left;
}
.info {
    text-align: left;
}
.read {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.readContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.readTask {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}
.readTitle {
    display: flex;
    font-size: 1.3rem;
    gap: 2rem;
    padding: 0.5rem 3rem;
}
.dotLink {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.signOut {
    display: flex;
    gap: 2rem;
    color: black;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    margin-left: 1.5rem;
    user-select: none;
}
.signOut p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    padding: 0.6rem;
    line-height: 0.2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #0B0019;
}
.logoContent {
    width: 40%;
}
.button {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    background-color:#00BF63;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid #0B0019;
    user-select: none;
}
.buttonTerms {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    background-color:#00BF63;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid #0B0019;
    user-select: none;
    width: 15rem;
}
.button:hover {
    background-color: white;
    color:black;
}
.error {
    display: none;
    border: 0.1rem solid #f00;
    border-radius: 0.6rem;
    background-color: #fcc;
}
.error.show {
    display: block;
    margin-left: 3rem;
    margin-right: 3rem;
}
