.future {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}
.logo {
    width: 200px;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
.link {
    padding: 1rem 2rem;
    background-color: #666af6;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 0.5rem;
}
.button {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    background-color: green;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid green;
}
.button:hover {
    background-color: white;
    color:black;
}