.home {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    align-items: center;
    text-align: center;
}
logo {
    width: 250px;
}
h1 {
    font-size: 2.3rem;
    padding: 3rem;
    text-align: center;
}
.noPageTitle {
    font-size: 3.5rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
}
p {
    font-size: 1rem;
    text-align: center;
}
.link {
    color: black;
    padding: 0rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 16rem;
    user-select: none;
}
.button {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    background-color:#00BF63;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid #0B0019;
    user-select: none;
}
.button:hover {
    background-color: white;
    color:black;
}
