
.readTitle {
    display: flex;
    font-size: 1.3rem;
    gap: 2rem;
    padding: 0.5rem 3rem;
    position: relative;
}
.readTitle:not(:last-child):after {
    content: '';
    width: 16rem;
    height: 0.1rem;
    background-color:#000;
    position: absolute;
    bottom: -0.6rem;
    left: 3rem;
}