.footer {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #bbf;
    color: #fff;
    padding: 3rem;
}
/* .button {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    background-color: green;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid green;
}
.button:hover {
    background-color: white;
    color:black;
} */