/* .app {
    display: flex;
    flex-direction: column;
    padding: 0.5rem ;
} */
/* .platform {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 10rem ;
    padding: 4.5rem 1rem;
    align-items: center;
    border-radius: 2rem;
}
.future {
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 6rem ;
    padding: 4.5rem 6rem;
    border-radius: 2rem;
}
.section {  
    background-color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem 1rem;
} */
/* .button {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    background-color: green;
    color: black;
    line-height: 0.2rem;
    text-decoration: none;
    border-radius: 0.6rem;
    border: 0.1rem solid green;
}
.button:hover {
    background-color: white;
    color:black;
} */

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.form {
    display: grid;
    gap: 1rem;
}
.form .row {
    display: grid;
    gap: 0.5rem;
}
.form label {
    font-size: 2rem;
}
.form input {
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
}
.form button {
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
}

.preview {
    font-size: 2rem;
}